

/* Colores Menu Administrador */

/* 
BUSQUEDA DE PROYECTOS */

.busqueda-proyectos{
  z-index: 1;
  position: fixed;
  top: 0px;
  width: calc(100% - 60px);
  left: 60px;

}

td.busqueda{
  background-color: var(--busqueda-bg-color);
}

td.busqueda:hover{
  background-color: var(--busqueda-hover-color);
}
/* 
BOTONES */

.btn.btn-primary.Resetear {
  background-color: var(--resetear-bg-color);
}

.btn.btn-primary.Resetear:hover {
  background-color: var(--resetear-hover-color);
}

button.btn.btn-primary.Mod {
  background-color: var(--modificar-bg-color);
}

.btn.btn-primary.Mod:hover {
  background-color: var(--modificar-hover-color);
}


button.btn.btn-primary.Mod2 {
  background-color: var(--modificar2-bg-color);
}

.btn.btn-primary.Mod2:hover {
  background-color: var(--modificar2-hover-color);
}

.btn.btn-primary.Cancelar {
  background-color: var(--cancelar-bg-color);
}

.btn.btn-primary.Cancelar:hover {
  background-color: var(--cancelar-hover-color);
}

.btn.btn-primary.Ver {
  background-color: var(--ver-bg-color);
}

.btn.btn-primary.Ver:hover {
  background-color: var(--ver-hover-color);
}


input:enabled {
  color: rgb(17, 0, 255);
}
select:enabled {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 255);
  font-size: 20px;
}

div.selectCliente{

  content: '>';
  background-color: rgba(40, 0, 105, 0.842);
  color: aliceblue;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

  
div.selectCliente:hover{
  background-color: rgb(6, 187, 0);
  color: rgb(255, 255, 255);
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}


th.ocultar {
  display: none;
  border: none;
  text-decoration: opx;
  width: 0px;
  height: 0px;
}

.registro {
  position: relative;
  height: 65%;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}


select {
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

span.iconos {
  display: flex;
  margin: 0;
  padding: 0;
}



.contenido-usuarios.u{
  background-color: black;
}

.busqueda-proyecto{
  background-color: black;
}

.titulo-bus{
  background-color: black;
  color: aliceblue;
}
.serv{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
.titulo-tabla{
  background-color: black;
 color: aliceblue;
}

.h{
  background-color: rgb(0, 0, 0);
  
}

td.h{
  height: 100px;
}