.container-buttons-menu{

    display: flex;
    flex-direction: column;
}

.menuLateral-button{
    border: none;
    background-color: var(--principal-color_2);
    color:#0d6efd;

}
.menuLateral-td{
    background-color: var(--principal-color_2);

}