.main-menu-preventa:hover,nav.main-menu-preventa.expanded {
width:250px;
overflow:visible;
}



.main-menu-preventa{

  
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;


-webkit-transition:width .05s linear;
transition:width .05s linear;
z-index:10;
border: 1px solid rgba(254, 254, 254, 0.18);
backdrop-filter: blur(5px);
background-color:  #000b8ce5;

}

.main-menu-preventa>ul {
margin:7px 0;
}

.main-menu-preventa li {
position:relative;
display:block;
width:250px;

}

.main-menu-preventa li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(255, 255, 255);
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu-preventa.nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu-preventa .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu-preventa>ul.logout {
position:absolute;
display: flex;
left:0;
bottom:0;

}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu-preventa li:hover>a,nav.main-menu-preventa li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:rgb(0, 0, 0);
background-color:#ffffff71;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.name-user{
  background-color: rgba(34, 214, 190, 0.445);
  margin: 0;
  width: 250px;
}

.nav-text{
  color: rgb(255, 255, 255);
}

